workflows/demo-workflows/autopilotcx_pain_management_demo_workflow.json
{
  "name": "Medical Industry Demo Workflow (Virtuoso Enhanced, Full)",
  "nodes": [
    {
      "parameters": { "path": "demo-intake", "responseMode": "responseNode", "options": {} },
      "name": "Webhook - Request a Demo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "extractData",
        "url": "={{ $json.body.website }}",
        "extractionType": "comprehensive",
        "options": {
          "depth": 3,
          "maxPages": 100,
          "respectRobots": true,
          "extractStaff": true,
          "extractLocations": true,
          "extractServices": true,
          "extractContact": true,
          "extractOwner": true
        }
      },
      "name": "SiteEnricher",
      "type": "autopilotcx-nodes.siteEnricher",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "operation": "getPlaceDetails",
        "query": "={{ $json.body.company_name }}",
        "location": "={{ $json.body.location }}",
        "fields": [
          "name",
          "formatted_address",
          "formatted_phone_number",
          "opening_hours",
          "website",
          "photos",
          "rating",
          "reviews"
        ]
      },
      "name": "Google Places",
      "type": "n8n-nodes-base.googlePlaces",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "mergeData",
        "siteData": "={{ $json.extractedData }}",
        "placesData": "={{ $json.placeDetails }}",
        "clientData": "={{ $json.body }}"
      },
      "name": "Data Merger",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "transformForSupabase",
        "mergedData": "={{ $json.mergedData }}"
      },
      "name": "Data Transformer",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": "demo",
        "data": "={{ $json.transformedData }}",
        "options": {
          "onConflict": "id"
        }
      },
      "name": "Supabase Update",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "analyzePractice",
        "clientData": "={{ $json.body }}",
        "extractedData": "={{ $json.extractedData }}",
        "specialization": "pain_management",
        "analysisDepth": "comprehensive"
      },
      "name": "VirtuosoAgent",
      "type": "autopilotcx-nodes.virtuosoAgent",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "handleOnboarding",
        "clientData": "={{ $json.body }}",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "specialization": "pain_management"
      },
      "name": "PreludeNode",
      "type": "autopilotcx-nodes.preludeAgent",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "performTriage",
        "clientData": "={{ $json.body }}",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "specialization": "pain_management"
      },
      "name": "OvertureNode",
      "type": "autopilotcx-nodes.overtureAgent",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "analyzeMedicalData",
        "clientData": "={{ $json.body }}",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "specialization": "pain_management"
      },
      "name": "ClinicalNode",
      "type": "autopilotcx-nodes.clinicalAgent",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "generateContent",
        "contentType": "welcome",
        "clientData": "={{ $json.body }}",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "tone": "professional",
        "specialization": "pain_management"
      },
      "name": "ComposerAgent",
      "type": "autopilotcx-nodes.composerAgent",
      "typeVersion": 1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "operation": "handleInteraction",
        "clientData": "={{ $json.body }}",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "specialization": "pain_management"
      },
      "name": "VirtuosoAgent2",
      "type": "autopilotcx-nodes.virtuosoAgent",
      "typeVersion": 1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "operation": "coordinateJourney",
        "clientId": "={{ $json.body.clientId }}",
        "journeyType": "medical_demo_onboarding",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "specialization": "pain_management"
      },
      "name": "MaestroAgent",
      "type": "autopilotcx-nodes.maestroAgent",
      "typeVersion": 1,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "calendarId": "primary",
        "start": "={{ $json.body.preferredDate }}",
        "end": "={{ $json.body.preferredDate }}",
        "summary": "Demo Appointment",
        "description": "={{ $json.body.clientName }} - Pain Management Demo"
      },
      "name": "Google Calendar (Schedule)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "operation": "scheduleReminder",
        "clientId": "={{ $json.body.clientId }}",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "specialization": "pain_management"
      },
      "name": "ReminderNode",
      "type": "autopilotcx-nodes.reminderAgent",
      "typeVersion": 1,
      "position": [300, 600]
    },
    {
      "parameters": {
        "operation": "handleReschedule",
        "clientId": "={{ $json.body.clientId }}",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "specialization": "pain_management"
      },
      "name": "RescheduleNode",
      "type": "autopilotcx-nodes.rescheduleAgent",
      "typeVersion": 1,
      "position": [500, 600]
    },
    {
      "parameters": {
        "operation": "handleSupportRequest",
        "clientId": "={{ $json.body.clientId }}",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "specialization": "pain_management"
      },
      "name": "SupportAgent",
      "type": "autopilotcx-nodes.supportAgent",
      "typeVersion": 1,
      "position": [700, 600]
    },
    {
      "parameters": {
        "operation": "handleHumanIntervention",
        "clientId": "={{ $json.body.clientId }}",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "specialization": "pain_management"
      },
      "name": "HumanAgent",
      "type": "autopilotcx-nodes.humanAgent",
      "typeVersion": 1,
      "position": [900, 600]
    },
    {
      "parameters": {
        "operation": "collectFeedback",
        "clientId": "={{ $json.body.clientId }}",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "specialization": "pain_management"
      },
      "name": "FeedbackNode",
      "type": "autopilotcx-nodes.feedbackAgent",
      "typeVersion": 1,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "operation": "processMetrics",
        "clientId": "={{ $json.body.clientId }}",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "specialization": "pain_management"
      },
      "name": "AnalyticsProcessor",
      "type": "autopilotcx-nodes.analyticsAgent",
      "typeVersion": 1,
      "position": [1300, 600]
    },
    {
      "parameters": {
        "operation": "translateContent",
        "clientId": "={{ $json.body.clientId }}",
        "extractedData": "={{ $json.extractedData }}",
        "virtuosoInsights": "={{ $json.virtuosoAnalysis }}",
        "specialization": "pain_management",
        "targetLanguage": "={{ $json.body.language || 'en' }}"
      },
      "name": "LanguageNode",
      "type": "autopilotcx-nodes.languageAgent",
      "typeVersion": 1,
      "position": [1500, 600]
    }
  ],
  "connections": {
    "Webhook - Request a Demo": {
      "main": [
        [
          {
            "node": "SiteEnricher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SiteEnricher": {
      "main": [
        [
          {
            "node": "Google Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Places": {
      "main": [
        [
          {
            "node": "Data Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Merger": {
      "main": [
        [
          {
            "node": "Data Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Transformer": {
      "main": [
        [
          {
            "node": "Supabase Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirtuosoAgent": { "main": [[{"node": "PreludeNode", "type": "main", "index": 0}]] },
    "PreludeNode": { "main": [[{"node": "OvertureNode", "type": "main", "index": 0}]] },
    "OvertureNode": { "main": [[{"node": "ClinicalNode", "type": "main", "index": 0}]] },
    "ClinicalNode": { "main": [[{"node": "ComposerAgent", "type": "main", "index": 0}]] },
    "ComposerAgent": { "main": [[{"node": "VirtuosoAgent2", "type": "main", "index": 0}]] },
    "VirtuosoAgent2": { "main": [[{"node": "MaestroAgent", "type": "main", "index": 0}]] },
    "MaestroAgent": { "main": [[{"node": "Google Calendar (Schedule)", "type": "main", "index": 0}]] },
    "Google Calendar (Schedule)": { "main": [
      [{"node": "ReminderNode", "type": "main", "index": 0}],
      [{"node": "RescheduleNode", "type": "main", "index": 0}],
      [{"node": "SupportAgent", "type": "main", "index": 0}],
      [{"node": "HumanAgent", "type": "main", "index": 0}],
      [{"node": "FeedbackNode", "type": "main", "index": 0}],
      [{"node": "AnalyticsProcessor", "type": "main", "index": 0}],
      [{"node": "LanguageNode", "type": "main", "index": 0}]
    ]}
  }
}